.container {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 $main-spacing;
}

img {
    max-width: 100%;
}

.app--images {
    margin: $main-spacing 0;
}

.app--description {
    margin-bottom: $main-spacing;
}