.header {
    background-color: $color-primary;
    color: white;
    padding: $main-spacing 0;
    margin-bottom: $main-spacing;

    .header--content {
        display: flex;
        align-items: center;
    }

    .header--logo {
        margin-right: $main-spacing / 2;
        width: $main-spacing * 2;
    }
}