table {
    width: 100%;
    
    thead {
        border-bottom: 2px solid ($color-primary);
        color: white;
        background-color: $color-primary;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    th, td {
        padding: $main-spacing / 4;
    }
}